<div id="business-info">
  <p>Business Name: <%= @business.name %></p>
  <p>Business Address: <%= @business.address %>, <%= @business.city %>, <%= @business.zip_code %></p>
  <p>Business Logo: <%= @business.logo %></p>
 <!--  <img src="<#%= @business.logo %>" alt=""> -->
  <p>Business Owner: <%= @business.user.first_name %> <%= @business.user.last_name %></p>
  <p><%= @business.city %></p>
  <p>Todays Weather: <%= @weather_api['main']['temp'] %></p>
  <p><%= @weather_api['weather'][0]['main'] %></p>

 

  <script>

  var chart = c3.generate({

    data: {
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x',

            <% @business.sales.each do |sale| %>
             '<%= sale.sale_date %>', <% end %>],
//            ['x', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106'],
            ['data1', <% @business.sales.each do |sale| %>
            <%= sale.daily_sale %>,<% end %>],
        ]
    },

    colors: {
      pattern: "#3aa4c4"
    },

    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        }
    }
});

</script>

<% @business.sales.each do |sale| %>
  <p>sale id: <%= sale.id %></p>
  <p>sale date: <%= sale.sale_date %></p>
  <p>sale: <%= sale.daily_sale %></p>
  <p><%= sale.weather_type %></p>
  <p><%= sale.temperature %></p>
  <p>sale business id: <%= sale.business.id %></p>
  <hr>
<% end %>


</div>
<%= render partial: 'sales/form', locals: {business: @business, sale: Sale.new} %>

<%= link_to('New Business', new_business_path) %>

