<p class="sale-date">{{sale_date}}</p>
<p class="daily-sale">{{daily_sale}}</p>
<p class="temperature">{{temperature}}</p>
<span class="{{weather_type}}">{{weather_type}}</span>
<p class="notes">{{notes}}</p>