<h2>Last Year</h2>
<p class="sale-date">{{sale_date}}</p>
<p class="daily-sale">Today's Sale: ${{daily_sale}}</p>
<p class="temperature">Today's Temperature: {{temperature}}</p>
<span class="{{weather_type}} weather-type">{{weather_type}}</span>
<p class="notes">Notes: {{notes}}</p>