<h2 class="username">{{username}}</h2>
<h3>Name: {{first_name}} {{last_name}}</h3>


<h2>Your Businesses</h2>
{{#each businesses}}
  <h3 class="user-business"><a href="/#businesses/{{id}}">{{name}}</a></h3>
{{/each}}

<a href="/#users/{{id}}/edit" class="edit-button">Edit</a>
<button class="new-business">New Business</button>