<!DOCTYPE html>
<html>
<head>
  <title>RevtraqApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/qbt3afq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="index">
    <div id="home-logo"><h1>RevTraq</h1></div>
    <% if user_signed_in? %>
      <p class="go-to-profile"><a href="/#users/<%= current_user.id %>">View your profile, <%= current_user.first_name %></a></p>
      <p>Not you? <%= link_to('Sign out', destroy_user_session_path, method: :delete)%></p>
    <% else %>
      <ul class="not-logged-in-list">
        <li><%= link_to('Sign in', new_user_session_path) %></li>
        <li><%= link_to('Sign up', new_user_registration_path) %></li>
      </ul>
    <% end %>
  </div>
  <div id="header-block">
    
    <div id="header-content">
      <div id="main-nav">
        <h1><%= link_to('RevTraq', root_path) %></h1>
        <% if user_signed_in? %>
          <p class="welcome-message">Welcome back, <%= current_user.first_name %>!</p>
          
          <ul class="header-nav">
            <li><a href="/#users/<%= current_user.id %>" class="user-info">My Profile</a></li>
            <% current_user.businesses.each do |business| %>
            <li><a class="business-info-link" href="/#businesses/<%= business.id %>"><%= business.name %></a></li>
          <% end %>
            <li><%= link_to('Sign out', destroy_user_session_path, method: :delete)%></li>
          </ul>
          
          
        <% else %>
        <ul class="not-logged-in-list">
          <li><%= link_to('Sign in', new_user_session_path) %></li>
          <li><%= link_to('Sign up', new_user_registration_path) %></li>
        </ul>
          
          
        <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
  </div>
  <%= yield %>

  <div id="main-container">
    <div id="user-container">
      <div id="user-info"></div>
      <div id="new-business-form"></div>
    </div>
    
    <div id="business-container">
      <div id="new-sale-form"></div>
      <div id="business-info"></div>
      <div id="year-sale"></div>
      <div id="day-sale"></div>
      <div id="graph-container">
        <div id="graph-info"></div>
        <div id="chart"></div>
      </div>
    </div>

    <div id="employee-container">
      <div id="employee-info"></div>
    </div>
    
    

  </div>

</body>
</html>
